<?xml version="1.0"?>
<launch>
  <!-- Load panda demo with MTC's execution capability -->
  <!-- /home/kifabrik/ws_moveit/src/moveit_resources/panda_moveit_config/launch/moveit_rviz.launch -->

  <include file="$(find moveit_resources_dual_panda_moveit_config)/launch/demo.launch">
    <arg name="use_rviz" value="false"/>
  </include>
  <param name="move_group/capabilities" value="move_group/ExecuteTaskSolutionCapability" />

  <!-- Run rviz with prepared config -->
  <include file="$(find moveit_resources_dual_panda_moveit_config)/launch/moveit_rviz.launch">
    <arg name="rviz_config" value="$(find moveit_task_constructor_demo)/config/mtc_dual.rviz" />
  </include>
</launch>
