<?xml version="1.0"?>
<launch>
  <!-- Load panda demo with MTC's execution capability -->
  <!-- /home/kifabrik/ws_moveit/src/moveit_resources/panda_moveit_config/launch/moveit_rviz.launch -->

  <!-- Custom rosconsole.config to switch between logging levels [INFO] and [DEBUG] -->
  <env name="ROSCONSOLE_CONFIG_FILE"
    value="$(find moveit_task_constructor_demo)/config/custom_rosconsole.config"/>

  <include file="$(find moveit_resources_dual_panda_moveit_config)/launch/demo.launch">
    <arg name="use_rviz" value="false"/>
  </include>
  <param name="move_group/capabilities" value="move_group/ExecuteTaskSolutionCapability" />

  <!-- Run rviz with prepared config -->
  <!-- For dual pickplace use: mtc_dual_pickplace.rviz -->
  <!-- For dlo handling use: mtc_dual_dloh.rviz -->
  <!-- For line tracking and dloh use: mtc_dual_linem.rviz -->
  <include file="$(find moveit_resources_dual_panda_moveit_config)/launch/moveit_rviz.launch">
    <arg name="rviz_config" value="$(find moveit_task_constructor_demo)/config/mtc_dual_linem.rviz" />
  </include>
</launch>
