<?xml version="1.0"?>
<launch>
  <!-- Load panda demo with MTC's execution capability tes test -->
  <!-- /home/kifabrik/ws_moveit/src/moveit_resources/panda_moveit_config/launch/moveit_rviz.launch -->
  <include file="$(find moveit_resources_dual_panda_moveit_config)/launch/demo.launch">
    <arg name="use_rviz" value="false"/>
  </include>
  <param name="move_group/capabilities" value="move_group/ExecuteTaskSolutionCapability" />

  <!-- Run rviz with prepared config -->
  <include file="$(find moveit_resources_panda_moveit_config)/launch/moveit_rviz.launch">
    <arg name="rviz_config" value="$(find moveit_task_constructor_demo)/config/mtc.rviz" />
  </include>

  <!-- Run MTC dual demo -->
  <node name="mtc_tutorial" pkg="moveit_task_constructor_demo" type="dual_demo" output="screen">
    <param name="execute" value="true" />
    <rosparam command="load" file="$(find moveit_task_constructor_demo)/config/dual_panda_config.yaml" />
  </node>

  <!-- Robot description parameters -->
  <param name="robot_description" command="xacro $(find moveit_resources_panda_description)/urdf/dual_panda.urdf.xacro"/>
    <!-- textfile="$(find moveit_resources_panda_description)/urdf/dual_panda.urdf"
      command="xacro $(find moveit_resources_panda_description)/urdf/dual_panda.urdf.xacro", remove the space between the dashes from inorder-->
  <param name="robot_description_semantic" textfile="$(find moveit_resources_dual_panda_moveit_config)/config/panda.srdf"/>
  <rosparam command="load" file="$(find moveit_resources_dual_panda_moveit_config)/config/kinematics.yaml"/>

  <!-- Robot state publisher -->
  <!-- <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher">
    <param name="publish_frequency" type="double" value="50.0" />
    <param name="tf_prefix" type="string" value="" />
  </node> -->
</launch>
